.header{
    width: screen;
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 1rem;
}
.left-name{
    display: flex;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}
.left-name:hover{
    color: cyan;
    cursor: pointer;
}
.right-links{
    display: flex;
    color: cyan;
    font-size: 1.5rem;
    margin-left: auto;
    align-items: center;
    gap: 1rem;
}
.right-links div:hover{
    color: white;
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}
.right-links .blog{
    color: white;
}
.right-links .blog:hover{
    color: cyan;
}
.contents{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}





.footer{
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 10rem;
    color: black;
    bottom: 0px;
    text-align: center;
}
@media only screen and (max-width: 667px){
    .header{
        flex-direction: column;
    }
    .left-name{
        justify-content: center;
    }
    .right-links{
        margin-right: auto;
        margin-left: auto;
        gap: 6rem;
    }
    .contents{
        width: 90%;
    }
}
