.header{
    width: screen;
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 1rem;
}
.left-name{
    display: flex;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}
.left-name:hover{
    color: cyan;
    cursor: pointer;
}
.right-links{
    display: flex;
    color: cyan;
    font-size: 1.5rem;
    margin-left: auto;
    align-items: center;
    gap: 1rem;
}
.right-links .projects{
    color: white;
}
.right-links .projects:hover{
    color: cyan;
}
.right-links div:hover{
    color: white;
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}
.contents{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.title{
    display: flex;
    background-color: black;
    width: fit-content;
    height: fit-content;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    padding: 1rem;
    text-align: center;
    align-self: center;
    box-shadow: 5px 5px cyan;
}
.title:hover{
    color: yellow;
    box-shadow: 10px 10px cyan;
    transition: 0.2s;
}
.proj{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}
.proj1{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: fit-content;
    height: fit-content;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    padding: 1rem;
    text-align: center;
    align-self: center;
    box-shadow: 5px 5px cyan;
    cursor: pointer;
}
.proj1:hover{
    color: yellow;
    box-shadow: 10px 10px cyan;
    transition: 0.2s;
}
.proj1 img{
    height: 10rem;
    width: 19rem;
    display: flex;
}
.proj1 img:hover{
    box-shadow: -6px -6px 7px white;
    transition: 0.2s;
}
.proj1 .proj1-text{
    padding-top: 1rem;
}
.proj2{
    display: flex;
    flex-direction: column;
    background-color: black;
    width: fit-content;
    height: fit-content;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    padding: 1rem;
    text-align: center;
    align-self: center;
    box-shadow: 5px 5px cyan;
    cursor: pointer;
}
.proj2 img{
    height: fit-content;
    width: 19rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.proj2 img:hover{
    box-shadow: -6px -6px 7px white;
    transition: 0.2s;
}
.proj2 .proj2-text{
    padding-top: 1rem;
}
.proj2:hover{
    color: yellow;
    box-shadow: 10px 10px cyan;
    transition: 0.2s;
}
footer{
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 10rem;
    color: black;
    bottom: 0px;
    text-align: center;
}
@media only screen and (max-width: 667px){
    .header{
        flex-direction: column;
    }
    .left-name{
        justify-content: center;
    }
    .right-links{
        margin-right: auto;
        margin-left: auto;
        gap: 6rem;
    }
    .contents{
        width: 90%;
    }
    .proj{
        flex-direction: column;
    }
}
